<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irregular.group10_irregularaco_assignment1f">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="group10_irregularaco__FINALassignment4F"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group10_IrregularACo_assignment1F">
        <activity
            android:name=".MainHome"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>
        <activity
            android:name=".BreakoutMenu"
            android:exported="true"/>

        <activity
            android:name=".BreakoutActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".BreakoutScore"
            android:exported="true" />
        <activity
            android:name=".BreakoutAbout"
            android:exported="true" />
        <activity
            android:name=".BreakoutInfo"
            android:exported="true" />
        <activity
            android:name=".TicTacToeplayers"
            android:exported="false" />
        <activity
            android:name=".TicTacToeAbout"
            android:exported="false" />
        <activity
            android:name=".TicTacToeMain"
            android:exported="true" />
        <activity
            android:name=".TicTacToeMenu"
            android:exported="true"/>
    </application>

</manifest>